# Ignore everything
/*

!.gitignore
!learn.json
!README.md
!README.es.md
!material-estudio-flujo-programacion.tex
!.vscode
!.github
!.devcontainer
!.devcontainer/**
!/tests
!/tests/**

!/exercises
!/exercises/*
!/exercises/**
